<!-- Section: Design Block -->
<section class="text-center text-lg-start mt-5 bg-white vh-100">
    <style>
        .cascading-right {
            margin-right: -50px;
        }
        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4 mt-5 d-flex justify-content-around">
        <div class="col-lg-6 mt-4 mb-lg-0">
            <img src="https://web.com/content/dam/blog/iStock_000029209120_Small.jpg" alt="" 
            class="w-100 rounded-4 shadow-4"/>
        </div>

        <div class="col-lg-6 mt-5 mb-lg-0">
            <img src="https://www.shopitcommerce.com/wp-content/uploads/2019/11/shopit-hi-res-logo-teal-@2x.png" alt="" 
            class="w-100 rounded-4 shadow-4"/>
        </div>

    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->